<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let tabBtn = $('.c-primary-nav_tab-btn');
        let backBtn = $('.c-primary-nav_back-btn');
        let tabPanels = $('.c-primary-nav_dropdown-list');
        tabBtn.click(function () {
            // -- Tab Buttons -- //
            let activeTabBtn = $(this);
            tabBtn.removeClass('c-primary-nav_tab-btn--active').attr('aria-selected', 'false');
            activeTabBtn.addClass('c-primary-nav_tab-btn--active').attr('aria-selected', 'true');
            // -- Tab Panels -- //
            let activeTabPanel = $('#'+($(this).attr('aria-controls')));
            tabPanels.removeClass('ceng-tabs_panel--active').attr('aria-hidden', 'true');
            activeTabPanel.addClass('ceng-tabs_panel--active').attr('aria-hidden','false');
        });
        backBtn.click(function () {
            // -- Back Buttons -- //
            backBtn.removeClass('c-primary-nav_tab-btn--active').attr('aria-selected', 'false');
            // -- Tab Panels -- //
            tabPanels.removeClass('ceng-tabs_panel--active').attr('aria-hidden', 'true');
        });
    });
</script>


<!-- Header Navigation-->
<nav id="c-primary-navigation" class="c-primary-nav">
    <ul class="c-primary-nav_list">
        <!-- About -->
        {{# PrimaryNavigation }}
            <li class="c-primary-nav_list-item">
                {{#if buttonTag }}
                    <button
                        id="{{ listHeader }}-tab-btn"
                        class="c-primary-nav_link c-primary-nav_tab-btn {{ styleModifier }}"
                        data-toggle="tab"
                        role="tab"
                        aria-controls="{{ listHeader }}-tabpanel"
                        aria-selected="false"
                    >
                        {{ listHeader }}
                    </button>
                {{/ if }}
                {{#if linkTag }}
                    <a href="{{ url }}"
                       class="c-primary-nav_link {{ styleModifier }}"
                       role="link">
                        {{ listHeader }}
                    </a>
                {{/ if }}

                {{#if dropdown-list }}
                    <ul class="c-primary-nav_dropdown-list"
                        id="{{ listHeader }}-tabpanel"
                        tabindex="0"
                        role="tabpanel"
                        aria-labelledby="{{ listHeader }}-tab-btn"
                        aria-hidden="true">
                        <button
                                class="c-primary-nav_back-btn"
                                data-toggle="tab"
                                role="tab"
                                aria-controls="{{ listHeader }}-tabpanel"
                                aria-selected="false"
                        >
                            Back
                            <span class="u-screen-reader-text">Toggle {{ listHeader }} Menu</span>
                        </button>
                        {{# dropdown-list }}
                             <li class="c-primary-nav_dropdown-list-item {{ primary-nav_item--modifier }}">
                                <a class="c-primary-nav_dropdown-list-link"
                                   href="{{url}}"
                                   {{#if role}}role="{{ role }}"{{/if}}>
                                    {{label}}
                                </a>
                            </li>
                        {{/ dropdown-list }}
                    </ul>
                {{/ if }}<!-- End dropdown list -->
            </li>
        {{/ PrimaryNavigation }}
    </ul>
</nav>
