{{{prependHtml}}}
    <section class="l-container {{ containerModifier }} {{backgroundColor}} {{paddingUtility}}">

        {{#each promo-list }}

            {{> components-promo }}

        {{/ each }}

    </section>
{{{appendHtml}}}
