<ul class="sg-colors">

    {{# items }}
    <li>
        <span class="sg-swatch" style="background: {{ value }};"></span>
        <span class="sg-label">
            <b>{{ comment }}</b>
            <br /> {{ name }}
            <br /> {{ value }}
        </span>
    </li>
    {{/ items }}

</ul>
<!--end sg-colors-->

<small>{{{ meta.description }}}</small>
