
<article class="c-promo {{mediaAlign}} {{classModifier}} {{backgroundColor}}">
    <aside class="c-promo_aside">
        <picture class="c-promo_picture">
            <source media="{{media-width}}" srcset="{{largeImgSrc}}"/>
            <source media="{{media-width}}" srcset="{{smallImgSrc}}"/>
            <img class="c-promo_img" src="{{imgSrc}}" alt="{{imgAltText}}" loading="lazy"/>
        </picture>
    </aside>
    <section class="c-promo_body">
        {{#if title}}
            <header class="c-promo_header">
                <h3 class="c-promo_title">{{title}}</h3>
            </header>
        {{/if}}

        {{#if copy}}
            <div class="c-promo_copy">
                {{copy}}
            </div>
        {{/if}}

        <footer class="c-promo_footer">
            <a class="c-btn {{buttonClass}}" href="{{url}}" role="link">
                {{buttonText}}
            </a>
        </footer>
    </section>
</article>

