<div class="l-container">
    <article class="c-media-block {{mediaBlockClassModifier}} {{backgroundColor}}">
        <aside class="c-media-block_aside">
            <figure class="c-media-block_figure">
                <img class="c-media-block_img" src="{{mediaBlockImgSrc}}" alt="{{mediaBlockImgAlt}}" />
                <figcaption class="c-promo_figcaption">
                    {{mediaBlockFigCaptionText}}
                </figcaption>
            </figure>
        </aside>
        <section class="c-media-block_body">
            <header class="c-media-block_header">
                <h3 class="c-media-block_title">{{mediaBlockTitle}}</h3>
            </header>
            <div class="c-media-block_copy">
                {{mediaBlockCopy}}
            </div>
            <footer class="c-media-block_footer">
                <a class="c-btn {{buttonClass}}" href="">link text</a>
            </footer>
        </section>
    </article>
</div>
